<app-mymodal [data]="editData" [(isVisible)]="modalIsVisible" (clickEvent)="clickEvent()" [title]="modalTitle">
</app-mymodal>
<button (click)="addBbq('Add BBQ')" nz-button [nzType]="'primary'" style="margin: 20px; width: 100px;">Add</button>
<nz-table class="table-striped-rows" #nestedTable [nzData]="listOfMaster" [nzPageSize]="8">
    <thead>
      <tr>
        <th></th>
        <th>GIHS</th>  
        <th>Name</th>        
        <th>District</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Opening Hours</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-data [ngForOf]="nestedTable.data">
        <tr >
          <td [(nzExpand)]="data.isexpand"></td>
          <td nzLeft>{{ data.GIHS }}</td>
          <td nzRight>{{ data.name }}</td>
          <td>{{ data.district }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.phone }}</td>
          <td>{{ data.hours }}</td>
          <td><button (click)="editBbq2('Edit BBQ', data.GIHS)" nz-button [nzType]="'default'">Edit</button></td>
          <td><button (click)="deleteBbq2(data.GIHS)" nz-button [nzType]="'default'" nzDanger>Delete</button></td>
        </tr>
        <tr [nzExpand]="data.isexpand">
          <nz-table #innerTable [nzData]="listOfDetail[data.id]" nzSize="middle" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Facilities</th>
                <th>Ancillary Facilities</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of innerTable.data"  style="background-color: lightblue" >
                <td>{{ data.facilities }}</td>
                <td>{{ data.ancillary }}</td>
                <td>{{ data.remarks }}</td>                
              </tr>
            </tbody>
          </nz-table>
        </tr>
      </ng-template>
    </tbody>
</nz-table>